* {
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}
#shorts {
    display: none;
}

@media screen and (max-width:600px)
{
#wide {
    display: none;
    height: 200px;
    width: 200px;
    

}
#shorts {
    display: inline-flex;
   
}}

https://gdb.rferl.org/466DA44A-332F-49CB-994F-247CF47FB7A3_w408_r1_s.jpg"  alt="wide building