* {
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}
#half {
    display: none;
}
#empthy {
    display: none;
}


@media screen and (max-width:550px)
{
#full {
    display: inline;
   }
#half {
    display: none;
}
#empthy {display: none;}
}
    


@media screen and (min-width:550px) and (max-width:650px)
{
    #half {
        display: inline;
    }
    #full {display: none;}

    #empthy {display: none;}
}

@media screen and (min-width:650px)
{
    #empthy {
        display: inline;
    }
    #full {display: none;}
    #half {display: none;}
}
        


<img id="extrawide" src="https://sc01.alicdn.com/kf/UTB8SSUldTzIXKJkSafVq6yWgXXa5/138782425/UTB8SSUldTzIXKJkSafVq6yWgXXa5.jpg" width="400px" height="400px" alt="empthy"